@using Microsoft.AspNetCore.Http.Features
@model List<Category>
<nav class="nav nav-pills flex-column flex-nowrap overflow-auto slider_nav">
    @foreach (Category category in Model)
    {
            <a href="/urunler/@category.Url" class="nav-link">@category.KategoriAdi</a>

    }
</nav>