 @model Product
 <div class="card shadow">
                        <div class="img-wrap">
                            <span class="badge bg-success">İndirim</span>
                            <img src="~/img/@Model.Resim" alt="@Model.UrunAdi" class="card-img-top">
                        </div>

                        <div class="border-top info-wrap">
                            <a asp-controller="Product" asp-action="Details" asp-action-id="@Model.Id" class="float-end btn btn-light">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="details.html" class="title text-truncate">@Model.UrunAdi</a>
                            <div class="price-wrap">
                                <span class="price-discount">@Model.Fiyat ₺</span>
                                @* <del class="price">49.999 ₺</del> *@
                            </div>
                        </div>
                    </div>